.title__todo {
    width: 100%;
    height: 3.5rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.title__todo input {
    width: 80%;
    height: 3.5rem;
    border: 2px solid rgb(0, 134, 134);
    border-radius: 1rem;
    padding-left: 10px;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(0, 134, 134);

}

.title__todo input::placeholder {
    color: rgb(0, 134, 134);
}